doctype html
html(lang="en")
	include partials/head.pug
	body
		nav.teal
			.container.nav-wrapper
				a(href="#").brand-logo Hello, World!
				ul#nav-mobile.right.hide-on-med-and-down
					include partials/nav.pug
				ul.side-nav#mobile-nav
					include partials/nav.pug
		a(data-activates="mobile-nav").btn-floating.btn-large.waves-effect.waves-light.red
			i.material-icons menu
		main.container
			section
				h1 Hello, World!
				img(src="//placehold.it/500x300").right
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo libero assumenda, veniam fugiat eius accusantium in vel harum itaque ipsam nostrum incidunt at maxime repudiandae, odit quia impedit, architecto doloribus?
				p Voluptas cupiditate, minus minima ipsum assumenda exercitationem cumque. Sit repellendus, quaerat tenetur voluptates velit laborum doloremque quam unde placeat est accusantium sunt quas ea vel recusandae labore dolorem consequuntur dolore!
				p Doloribus eum tempore, molestiae veniam quos voluptatum. Voluptatem quo, totam animi nesciunt eligendi autem? Placeat earum deleniti eos excepturi sequi error culpa voluptatem officia commodi, quo ab totam, quas dolores.
				p Ea cumque magni labore, nemo non perspiciatis, voluptas eius quibusdam reprehenderit necessitatibus! Provident possimus deleniti, quis fugiat inventore velit reiciendis deserunt tenetur dolorum earum voluptatum? Voluptatem, sapiente deserunt. Obcaecati, quam.
				p Cumque eius recusandae animi, quis eaque perspiciatis dolor accusantium qui, libero accusamus eligendi fugit nobis quidem deleniti tempore. Accusantium est commodi iste deleniti asperiores, error dolores vel hic nostrum amet?
		include partials/footer.pug