doctype html
html(lang="en")
	include partials/head.pug
	body
		nav.teal
			.container.nav-wrapper
				a.brand-logo(href="#") Hello, World!
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a(href="#") Link 1
					li
						a(href="#") Link 2
					li
						a(href="#") Link 3
		main.container
			h1 Hello, World!
		footer.page-footer.teal
			section.container
				h5.white-text This is a footer
			section.footer-copyright
				.container
					p &copy; 2017
		include partials/footer.pug