extends partials/layout.pug

block content
	main.container
		section
			h1 Hello, World!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, ipsam dignissimos error sit fugit, ipsa nulla voluptatum fuga aspernatur mollitia aut quo tempore, laudantium nostrum consequuntur! Dolores nulla quisquam aperiam.
			p Unde necessitatibus quis vero iste. Aliquam accusamus vitae blanditiis beatae expedita nostrum, cupiditate in quia dolores harum suscipit, natus impedit amet, dolorem deserunt obcaecati perferendis delectus similique? Suscipit, officia, consequatur.
			p Voluptatem harum voluptates recusandae neque, ratione quos aut culpa, ex praesentium. Aperiam reiciendis deserunt necessitatibus nisi sit, vitae distinctio, repudiandae deleniti qui ea debitis neque officia laudantium eos dolorem. Dicta.
			p Laboriosam vero dolores asperiores, praesentium, quae est consequatur impedit suscipit et. Eaque laborum provident, quibusdam veniam dolor quaerat eligendi molestiae ut expedita, eius dicta nostrum soluta suscipit nemo vitae adipisci?
			p Aliquid quos velit id laboriosam pariatur, laudantium voluptatum, explicabo facilis soluta fugiat atque quas commodi neque consequuntur doloremque veniam, facere voluptate dolorem inventore nesciunt unde blanditiis? Quae voluptas hic ea.