doctype html
html(lang="en")
	include partials/head.pug
	body
		nav
			.nav-wrapper
				a.brand-logo(href="#") Hello, World!
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a(href="#") Link 1
					li
						a(href="#") Link 2
					li
						a(href="#") Link 3
		
		footer
			section
				p &copy; 2017