footer.page-footer.teal
	section.container
		h5.white-text This is a footer
	section.footer-copyright
		.container
			p &copy; 2017
//- importantJS:js
script(src="assets/javascripts/jquery.min.js")
//- endinject
//- inject:js
script(src="assets/javascripts/angular.min.js")
script(src="assets/javascripts/materialize.min.js")
//- endinject