//- importantJS:js
script(src="assets/javascripts/jquery.min.js")
//- endinject
//- inject:js
script(src="assets/javascripts/angular.min.js")
script(src="assets/javascripts/materialize.min.js")
//- endinject