head
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="charset", content="utf-8")
	title Hello, World!
	//- inject:css
	link(rel="stylesheet", href="dist/assets/stylesheets/materialize.min.css")
	//- endinject
	
	//- inject:js
	script(src="dist/assets/javascripts/angular.min.js")
	script(src="dist/assets/javascripts/jquery.min.js")
	script(src="dist/assets/javascripts/materialize.min.js")
	//- endinject